Repository kojiyamauchi/express-scaffold: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn workspace apps prettier --write, yarn workspace apps eslint --fix --max-warnings 0, yarn workspace client prettier --write, yarn workspace client eslint --fix --max-warnings 0, yarn workspace client stylelint --fix, cspell --dot --no-must-find-files

.lintstagedrc.yml:

apps/**/*.ts:
  - yarn workspace apps prettier --write
  - yarn workspace apps eslint --fix --max-warnings 0
apps/**/*.js: yarn workspace apps prettier --write
client/**/*.ts:
  - yarn workspace client prettier --write
  - yarn workspace client eslint --fix --max-warnings 0
client/**/*.js: yarn workspace client prettier --write
client/resource/**/*.scss: yarn workspace client stylelint --fix
./**/*: cspell --dot --no-must-find-files

update modules.
  apps/package.json
  client/package.json
  package.json
  yarn.lock
Due: cspell --dot --no-must-find-files

update node.
  Dockerfile
Due: cspell --dot --no-must-find-files

update husky.
  .husky/pre-commit
Due: cspell --dot --no-must-find-files

update github actions.
  .github/workflows/ci-for-preview.yml
  .github/workflows/ci.yml
Due: cspell --dot --no-must-find-files

update package.json
  apps/package.json
  package.json
Due: cspell --dot --no-must-find-files

update yarn.lock
  yarn.lock
Due: cspell --dot --no-must-find-files

update nodemon.
  apps/nodemon.json
Due: cspell --dot --no-must-find-files

update lintstaged.
  .lintstagedrc.yml
Due: cspell --dot --no-must-find-files

update prisma.
  apps/prisma/schema.prisma
Due: cspell --dot --no-must-find-files

update cspell.
  cspell.yml
Due: cspell --dot --no-must-find-files

add libs & utils.
  apps/resource/libs/index.ts
  apps/resource/libs/mySqlConnection.ts
  apps/resource/libs/prismaClient.ts
  apps/resource/utils/dotEnvConfig.ts
  apps/resource/utils/index.ts
Due: yarn workspace apps prettier --write, yarn workspace apps eslint --fix --max-warnings 0, cspell --dot --no-must-find-files

update model.
  apps/resource/models/index.ts
Due: yarn workspace apps prettier --write, yarn workspace apps eslint --fix --max-warnings 0, cspell --dot --no-must-find-files

update controller.
  apps/resource/controllers/index.ts
Due: yarn workspace apps prettier --write, yarn workspace apps eslint --fix --max-warnings 0, cspell --dot --no-must-find-files

update route.
  apps/resource/routes/index.ts
Due: yarn workspace apps prettier --write, yarn workspace apps eslint --fix --max-warnings 0, cspell --dot --no-must-find-files

update app.
  apps/resource/app.ts
Due: yarn workspace apps prettier --write, yarn workspace apps eslint --fix --max-warnings 0, cspell --dot --no-must-find-files

update serve.
  apps/resource/serve.ts
Due: yarn workspace apps prettier --write, yarn workspace apps eslint --fix --max-warnings 0, cspell --dot --no-must-find-files

rename type dir.
  apps/resource/types/utils/index.ts
Due: yarn workspace apps prettier --write, yarn workspace apps eslint --fix --max-warnings 0, cspell --dot --no-must-find-files

move & rename sql.
  apps/resource/seeds/create_user.sql
  apps/resource/seeds/insert_user.sql
Due: cspell --dot --no-must-find-files

move & rename schema.
  apps/resource/models/index.ts
  apps/resource/schemas/User.ts
  apps/resource/schemas/index.ts
Due: yarn workspace apps prettier --write, yarn workspace apps eslint --fix --max-warnings 0, cspell --dot --no-must-find-files

add zod.
  apps/package.json
  yarn.lock
Due: cspell --dot --no-must-find-files

add validation schema.
  apps/resource/schemas/User.ts
Due: yarn workspace apps prettier --write, yarn workspace apps eslint --fix --max-warnings 0, cspell --dot --no-must-find-files

add jest modules.
  apps/package.json
  yarn.lock
Due: cspell --dot --no-must-find-files

add validation test.
  apps/resource/tests/schema/userSchema.test.ts
Due: yarn workspace apps prettier --write, yarn workspace apps eslint --fix --max-warnings 0, cspell --dot --no-must-find-files

add view template for status code 400.
  apps/resource/views/components/common/_head.ejs
  apps/resource/views/components/pages/validate-error/_heading.ejs
  apps/resource/views/validate-error.ejs
  client/resource/styles/components/pages/validate-error/_validate-error-heading.scss
  client/resource/styles/validate-error.scss
Due: yarn workspace client stylelint --fix, cspell --dot --no-must-find-files

move schema.prisma.
  apps/package.json
  apps/resource/prisma/schema.prisma
Due: cspell --dot --no-must-find-files

run ci jest.
  .github/workflows/ci-for-preview.yml
  .github/workflows/ci-local-test.yml
  .github/workflows/ci.yml
  apps/jest.config.ts
Due: yarn workspace apps prettier --write, yarn workspace apps eslint --fix --max-warnings 0, cspell --dot --no-must-find-files

fix indent.
  .github/workflows/ci-for-preview.yml
Due: cspell --dot --no-must-find-files

remove jest-puppeteer.
  apps/jest.config.ts
  apps/package.json
  yarn.lock
Due: yarn workspace apps prettier --write, yarn workspace apps eslint --fix --max-warnings 0, cspell --dot --no-must-find-files

modify lintstaged for prisma.
  .lintstagedrc.yml
Due: cspell --dot --no-must-find-files

add prisma config.
  apps/package.json
  apps/prisma.config.ts
  apps/tsconfig.json
Due: yarn workspace apps prettier --write, yarn workspace apps eslint --fix --max-warnings 0, cspell --dot --no-must-find-files

modify command.
  apps/package.json
Due: cspell --dot --no-must-find-files

update prisma studio command.
  apps/package.json
Due: cspell --dot --no-must-find-files
